{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('add') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('add') }}
{% endblock %}